<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="font-awesome.min.css">
    <link rel="stylesheet" href="css/">
    <title>Hair Share</title>
</head>
<body>
    <header>
        <ul>
          <li>
            <a href="/" class="navItem">Home</a>
          </li>
          <li>
            <a href="/profile" class="navItem">Profile</a>
          </li>
          <li>
            <a href="/logout" class="navItem">Logout</a>
          </li>
        </ul>
      </header>
    <div class="page-header text center">
        <h1><span class="fa fa-heart-o"></span>Feed</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        <a href="/profile" class="btn btn-default btn-sm">Profile</a>
    </div>

    <div class="col-sm-6">

                <section>
                  <% for(let i=0; i <posts.length; i++) { %>
                    <section>
                      <img src=" <%= posts[i].imgPath%> " alt="">

                      <p><%= posts[i].userName %></p>
                      <p><%= posts[i].postCaption %></p>
                      <section>
                        <h4>Hair Type</h4>
                        <p>Hair type: <%= posts[i].hairType %></p>
                        <p>Hair Densit: <%= posts[i].hairDensity %></p>
                        <p>hair Length: <%= posts[i].hairLength %></p>

                      </section>
                      <section>
                        <h4>Comments</h4>
                        <span><%= posts[i].comments %></span>
                      </section>
                      <section>
                        <h3>Add a comment</h3>
                        <form action="/feed" method="post" class="commentHide">
                        <input name="comment" class="text" type="text" placeholder="Comment">
                        <input style="display: none;" type="text" name="postID" value="<%= posts[i]._id%>">

                        <button class="" type="submit">Add</button>
                        </form>
                      </section>
                    </section>

                    <% } %>


                  <% if (comments) { %>
                    <h2>Hi</h2>
                  <% } %>
                </section>


    </div>
    <script src="feed.js"></script>
</body>
</html>
